Repository publicsuffix/list, pull requests merged in 2023-11, with the labels that each got.

#1684 Add `torun.pl`
  public_suffix_list.dat
Labels: NOT IOS FB, ✔️DNS _psl Validated, ✔️Sorting Validated

#1894 Handle EBEROs: Use DelegationDate alongside ContractTerminated
  public_suffix_list.dat
  tools/newgtlds.go
  tools/newgtlds_test.go
Labels: NOT IOS FB, ✅ autopull, 🚩ICANN (IANA/ICP-3) Section

#1901 Introduce Go Modules to tooling
  .github/workflows/test.yml
  .github/workflows/tld-update.yml
  tools/go.mod
  tools/patchnewgtlds
Labels: non .dat Change or Coding Review

#1906 Change the order of flags in github actions workflows.
  .github/workflows/test.yml
  .github/workflows/tld-update.yml
Labels: non .dat Change or Coding Review
